#container {
	width: 960px;
	height: 960px;
	margin: 0 auto
	;
}

div {
	margin: 0px 0px 0px 0px;
	float:left;
}

#clearGrid {
	background-color: grey;
	width: 50px;
	height: 20px;
	color: white;
	text-align: center;
	border: 1px solid black;
}

#clearGrid:active {
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;

	
}

#green {
	background-color: green;
	width:50px;
	height:50px;
	border: 1px solid black;
}

#green:active {
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

#red {
	background-color: red;
	width: 50px;
	height: 50px;
	border: 1px solid black;
}

#red:active {
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

#black {
	background-color: black;
	width: 50px;
	height: 50px;
	border: 1px solid black;
}

#black:active {
	-moz-box-shadow:    inset 0 0 10px #ffffff;
   -webkit-box-shadow: inset 0 0 10px #ffffff;
   box-shadow:         inset 0 0 10px #ffffff;
}

#blue {
	background-color: blue;
	width: 50px;
	height: 50px;
	border: 1px solid black;
}

#blue:active{
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}